ul.minirespertory {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

ul.minirespertory li {
    position: relative;
    margin: 2px;
    list-style: none;
}

.minirespertory_card_mask{
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    z-index: 31;
    width: 56px;
    height: 56px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    justify-items: center;
    justify-content: center;
    align-items: center;
}