.minifastshop_w {
}

.minifastshop_title{
    margin: 10px;
}

.minifastshop_ctrl {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.minifastshop_search{
    margin-left: 30px;
}

.minifastshop_head{
    display: flex;
    align-items: center;
}

.minifastshop_themelogo_w{
    margin: 0 2px;
    cursor: pointer;
    transition: all ease 0.3s
}

.minifastshop_themelogo_w:hover{
    opacity: 0.7;
}

.minifastshop_themelogo_txt{
    margin-right: 10px;
}

.minifastshop_themelogo_w:nth-of-type(1){
    margin-left: 10px;
}