.repertory_box_w {
    position: absolute;
    right: 1vw;
    top: 0vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* width: 60vw; */
    /* height: 100%; */
    border: 1px solid #ccc;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 5px #fff;
}

.repertory_box_close_btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 5px 10px;
    cursor: pointer;
}

.repertory_box_w .repertory_box_title {
    font-size: 16px;
    font-weight: bold;
}

.repertory_baglist_btn_w {
    position: absolute;
    z-index: 12;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.repertory_bag_ctrl,
.repertory_chest_ctrl {
    display: flex;
    align-items: center;
}

.repertory_chest_ctrl {
    line-height: 34px;
}

.repertory_bag_btn {
    margin: 5px;
}

.repertory_bag_btn:nth-of-type(1) {
    margin-left: 10px;
}

.repertory_bag_btn_sell_all {
    margin-right: 10px;
}

.repertory_chest_info{
    margin-left: 10px;
}

.repertory_chest_w,
.repertory_bag_w {
    max-height: calc(100vh - 248px);
    overflow-y: auto;
    padding: 5px;
}