.stove_w {
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
}

.stove_icon {
    display: inline-block;
    width: 218px;
    height: 458px;
    background: url(https://larria.github.io/magiccard/assets/style/imgs/main_view.png) 0px 0px no-repeat;
    cursor: pointer;
    transition: all ease 0.3s;
    zoom: 1;
}

.stove_icon:hover {
    transform: scale(1.05, 1.05)
}

.stove_icon:active {
    transform: scale(1, 1)
}