.cards_of_theme_hd {
    display: flex;
    align-items: center;
}

.cards_of_theme_title {
    margin: 0;
    display: flex;
    align-items: center;
}

.cards_of_theme_logo {
    margin-right: 5px;
}

.cards_of_theme_diff {
    margin-left: 20px;
    display: inline-block;
    font-size: 20px;
}

.cards_of_theme_type {
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
}

.cards_w {
    margin: 20px 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 5px #fff;
}

.cards_item {
    display: flex;
    align-items: center;
}

.cards_item:nth-child(odd) {
    background-color: rgba(24, 144, 255, 0.1);
}

.cards_price {
    flex: 0 0 10%;
}

.cards_price h3 {
    text-align: center;
}

.cards_by_price_w {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.cards_by_price_w .card_wrap {
    margin: 10px 5px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.cards_by_price_w .card_wrap:hover {
    transform: scale(1.05, 1.05);
}