.cardlist_by_block {
    margin-top: 10px;
}

.cardlist_by_list {
    margin-top: 10px;
}

.cardlist_diff_title {
    font-size: 20px;
}

.cardlist_by_block ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cardlist_by_block ul li {
    display: flex;
    /* display: inline-block; */
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all ease 0.3s;
}

.cardlist_by_block ul li:hover {
    transform: scale(1.1, 1.1)
}

.cardlist_by_list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.cardlist_by_list ul li {
    display: flex;
    margin-bottom: 10px;
    /* display: inline-block; */
    min-width: 180px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.cardlist_by_list ul li:hover {
    background-color: rgba(25, 144, 255, 0.1);
    transform: scale(1.1, 1.1)
}

.cardlist_by_list ul li img {
    vertical-align: middle;
}

.back_to_top {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}