.user_w {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.user_name_avatar_w{
    display: flex;
    align-items: center;
}

img.user_avatar {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 100%;
}

.user_name_w{
    margin: 0 0 0 10px;
}

.user_name{
    margin: 0;
}

.user_lvl{
    font-size: 16px;
}

.user_exp_icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url(https://larria.github.io/magiccard/assets/style/imgs/icon.png) -60px -64px no-repeat;
    zoom: 1;
}

.user_gold_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(https://larria.github.io/magiccard/assets/style/imgs/money_icon.png) -5px -6px no-repeat;
    zoom: 1;
}

.user_power_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(https://larria.github.io/magiccard/assets/style/imgs/money_icon.png) -65px -6px no-repeat;
    zoom: 1;
}

.user_exp_w, .user_gold_w, .user_power_w {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.user_state_text{ margin-left: 10px;}
