.register_w {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.register_welcome_img {
    height: 80vh;
}

.register_form {
    margin-left: 10vw;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
}

.register_avatar_w {
    display: flex;
    flex-wrap: wrap;
}

.register_avatar {
    margin: 5px;
    width: 48px;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease 0.3s;
}

.register_avatar:hover {
    transform: scale(1.1, 1.1)
}

.register_submit_btn{ 
    width: 80px;
}