.user_w {
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
}

.user_w img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid #1890ff;
    border-radius: 100%;
}
.user_w .user_name {
    margin: 0 0 0 10px;
}